<template>
    <div id="container">
        <TopNavbarLinks></TopNavbarLinks>
        <div v-if="!accessToken" id="login">
            <h1>Login via twitch</h1>

            <a href="https://id.twitch.tv/oauth2/authorize?client_id=qh31ctat69gooihlh27xxshl7uajcx&redirect_uri=http://127.0.0.1&response_type=token&scope=channel:read:subscriptions+user:read:email">Click here to login</a>
        </div>

        <div v-if="accessToken" id="welcome">
            <h2>Welcome</h2>

            <div v-if="!favStreamerSet" id="setFavStreamerContainer">
                <input type="text" v-model="favStreamer" />
                <button v-on:click="setFavStreamer" :disabled="!streamerClicked">{{ set }}</button>

                <ul id="suggestions">
                    <li v-for="streamer in streamers" :key="streamer.id">
                        <a v-on:click="selectStreamer(streamer.display_name, streamer.id)">{{ streamer.display_name }}</a>
                    </li>
                </ul>
            </div>

            <div v-if="favStreamerSet">
                Your favourite streamer is <span style="font-weight: bold;">{{ favouriteStreamer }}</span>!<br />
                <router-link to="/sev">Check the event page</router-link> 
                <button v-on:click="removeFavStreamer" style="margin-left: 5px;">Remove</button>
            </div>
        </div>
    </div>
</template>

<script>
import TopNavbarLinks from '../components/TopNavbarLinks'
import axios from 'axios';

export default {
    name: 'Home',
    components: {
        TopNavbarLinks,
    },
    data: function () {
        return {
            favStreamer: null,
            favStreamerId: null,
            awaitingSearch: false,
            streamers: [],
            streamerClicked: false,
            favStreamerSet: false,
            set: 'Set'
        }
    },
    methods: {
        checkLogin() {
            if (localStorage.accessToken) {
                this.$store.commit('setAccessToken', localStorage.accessToken);

                axios
                    .post('https://078514aaa232.ngrok.io/api/login', {
                        token: localStorage.accessToken
                    })
                    .then(response => {
                        if (response.data.fav_streamer) {
                            localStorage.favStreamer = response.data.fav_streamer.name;
                            localStorage.favStreamerId = response.data.fav_streamer.id;
                            this.$store.commit('setFavStreamer', response.data.fav_streamer.name);
                        }
                    });
            }
        },
        checkForBearer() {
            if (location.hash) {
                let token = this.getQueryVariable('access_token');

                if (token) {
                    console.log("Access token = "+token);
                    localStorage.accessToken = token;
                    localStorage.timeAcquired = Date.now();
                    location.hash = '';

                    this.$store.commit('setAccessToken', token);
                }
            }
        },
        checkFavStreamerSet() {
            if (localStorage.favStreamer) {
                this.favStreamerSet = true;
            }
        },
        setFavStreamer() {
            axios
                .post('https://078514aaa232.ngrok.io/api/favourite-streamer', {
                    name: this.favStreamer,
                    streamer_id: this.favStreamerId
                },
                {
                    headers: {
                        Authorization: this.accessToken
                    }
                })
                .then(response => {
                    localStorage.favStreamer   = response.data.fav_streamer.name;
                    localStorage.favStreamerId = response.data.fav_streamer.id;
                    this.$store.commit('setFavStreamer', response.data.fav_streamer.name);
                    
                    this.favStreamer = null;
                    this.favStreamerId = null;
                    this.favStreamerSet = true;
                });
        },
        removeFavStreamer() {
            axios
                .delete('https://078514aaa232.ngrok.io/api/favourite-streamer',
                {
                    headers: {
                        Authorization: this.accessToken
                    }
                })
                .then(() => {
                    localStorage.removeItem('favStreamer');
                    localStorage.removeItem('favStreamerId');
                    this.$store.commit('setFavStreamer', null);

                    this.favStreamer = null;
                    this.favStreamerId = null;
                    this.favStreamerSet = false;
                });
        },
        selectStreamer(streamer, streamerId) {
            this.streamerClicked = true;
            this.favStreamer = streamer;
            this.favStreamerId = streamerId;
            this.streamers = [];
        },
        checkChannels(obj) {
            if (!obj.query) return;
            if (obj.query.length < 3) return;

            axios
                .get('https://api.twitch.tv/helix/search/channels?query='+obj.query, {
                    headers: {
                        Authorization: 'Bearer ' + this.accessToken,
                        'Client-Id': 'qh31ctat69gooihlh27xxshl7uajcx'
                    }
                })
                .then(response => {
                    let parsedResponse = response.data.data;//JSON.parse(response.data);
                    console.log(parsedResponse.slice(0, 5));
                    this.streamers = parsedResponse.slice(0, 5);
                });

            //-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \
            //-H 'Client-Id: wbmytr93xzw8zbg0p1izqyzzc5mbiz'
        },
        getQueryVariable(variable) {
            var query = window.location.hash.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
            console.log('Query variable %s not found', variable);
        }
    },
    mounted () {
        this.checkForBearer();
        this.checkLogin();
        this.checkFavStreamerSet();
    },
    watch: {
      favStreamer: function () {
        if (this.streamerClicked) {
            this.streamerClicked = false;
            return;
        }

        if (!this.awaitingSearch) {
          setTimeout(() => {
            this.checkChannels({ query: this.favStreamer });
            this.awaitingSearch = false;
            this.set = 'Set';
          }, 1000); // 1 sec delay
        }
        this.awaitingSearch = true;
        this.set = 'Loading...';
      },
    },
    computed: {
        favouriteStreamer: function() {
            return this.$store.state.favStreamer;
        },
        accessToken: function() {
            return this.$store.state.accessToken;
        }
    }
}
</script>

<style>
    #suggestions {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #suggestions li {
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>