<template>
    <div id="container">
        <TopNavbarLinks></TopNavbarLinks>
        <div id="sev-container">
            <h1>Stream Event Viewer for {{ channel }}</h1>
        </div>

        <div v-if="channel" id="twitch-container" style="margin:0 auto;width:1200px;">
            <div id="twitch-embed" style="float:left;width:1000px;"></div>
            <div id="twitch-chat" style="float:left;width:200px;">
                <iframe frameborder="0"
                        scrolling="no"
                        id="chat_embed"
                        :src="'https://www.twitch.tv/embed/'+channel+'/chat?parent=127.0.0.1'"
                        height="500"
                        width="350">
                </iframe>
            </div>
            <div style="clear: both;"></div>
        </div>

        <div v-if="eventMessages">
            <h4 v-for="message in eventMessages" v-bind:key="message">{{ message }}</h4>
        </div>

        <div v-if="!channel" id="twitch-container">
            <h2>You need to set a favourite streamer first. <router-link to="/">Go set one!</router-link></h2>
        </div>
    </div>
</template>

<script>
import TopNavbarLinks from '../components/TopNavbarLinks'
import Pusher from 'pusher-js';
import 'twitch-embed';

export default {
    name: 'StreamEventListener',
    components: {
        TopNavbarLinks,
    },
    data: function () {
        return {
            player: null,
            eventMessage: '',
            eventMessages: [],
            timeout: null
        };
    },
    methods: {
        setUpPlayer() {
            if (!this.player) {
                const options = {
                    parent: '127.0.0.1',
                    width: 1000,
                    height: 500,
                    layout: 'video-with-chat'
                };
 
                if (this.channel) {
                    options.channel = this.channel;
                }
                if (typeof window !== 'undefined' && window.Twitch) {
                    this.player = new window.Twitch.Player('twitch-embed', options);
                }
            }
        },
        setUpPusher() {
            // Enable pusher logging - don't include this in production
            Pusher.logToConsole = true;

            var pusher = new Pusher('652efc997c9a6a8ccf1e', {
                cluster: 'us3'
            });

            var channel = pusher.subscribe(localStorage.favStreamer);
            channel.bind('event', (data) => {
                this.eventMessages.push(data.message);
                
                if (this.eventMessages.length > 5) {
                    this.eventMessages.shift();
                }
            });
        }
    },
    mounted() {
        if (localStorage.favStreamer) {
            this.setUpPusher();
            this.setUpPlayer();
        }
    },
    computed: {
        channel() {
            return localStorage.favStreamer ? localStorage.favStreamer.toLowerCase() : null;
        }
    }
}
</script>

<style>

</style>