<template>
    <div id="TopNavbarLinksContainer">
        <router-link to="/">Home</router-link> | 
        <router-link to="/sev">Stream Event Viewer</router-link>
        <div v-if="accessToken">
            <a href="#" v-on:click="logout()">Logout</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TopNavbarLinks',
    methods: {
        logout() {
            localStorage.removeItem('accessToken');
            localStorage.removeItem('timeAcquired');
            this.$store.commit('setAccessToken', null);
        }
    },
    computed: {
        accessToken: function() {
            return this.$store.state.accessToken;
        }
    }
}
</script>

<style>
    #topNavbarLinksContainer {
        margin-bottom: 10px;
    }

    #topNavbarLinksContainer a {
        font-size: 25px;
        padding: 10px;
    }
</style>